*.pyc
*.pyo
*.pyd
*.o
*.lo
*.la
*.mo
*~
*.so
*.bak
/.settings
.DS_Store
/build
/doc/build
/doc/api
/coverage
MANIFEST
_LinkChecker_configdata.py
_release_date
Changelog.linkchecker*
/*-stamp
/*-stamp-*
/dist
/share
/linkchecker.egg-info
/tests/checker/data/dir
/tests/__pycache__
/linkchecker-out.*
/lcdump*
/doc/html/*.qhc
/doc/html/*.qch
/.achievements
/doc/i18n/locales/*/LC_MESSAGES/*.mo
/LinkChecker-*.exe
/LinkChecker.egg-info
/todo
/alexa*.log
/testresults.txt
/linkchecker.prof
.cache
.coverage
.pytest_cache
.tox
tests/checker/data/https_cert.pem
tests/checker/data/https_key.pem
coverage.xml
doc/html
doc/src/_build
doc/src/code/linkcheck
linkcheck/_release.py
