language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install tox-travis coveralls
# command to run tests
script:
  - tox
# do not send emails of broken builds
notifications:
  email: false
after_script:
  - coveralls
matrix:
   allow_failures:
      - python: "3.5"
      - python: "3.6"
