include *.ini
include *.md
include *.rst
include *.txt
include COPYING
include Dockerfile
include MANIFEST.in
include Makefile
include install-rpm.sh
include .project
include .pydevproject

recursive-include cgi-bin               \
    *.css                               \
    *.de                                \
    *.en                                \
    *.html                              \
    *.ico                               \
    *.js                                \
    README
recursive-include config                \
    *.sql                               \
    linkchecker-completion              \
    linkchecker.apache2.conf            \
    linkcheckerrc
recursive-include doc                   \
    *.1                                 \
    *.5                                 \
    *.bat                               \
    *.css                               \
    *.example                           \
    *.html                              \
    *.ico                               \
    *.jpg                               \
    *.md                                \
    *.png                               \
    *.po                                \
    *.pot                               \
    *.py                                \
    *.rst                               \
    *.sh                                \
    *.txt                               \
    *.yml                               \
    Makefile                            \
    linkcheckerrc_*
recursive-include po                    \
    *.mo                                \
    *.po                                \
    *.pot                               \
    Makefile
recursive-include                       \
    scripts                             \
    *.sh                                \
    *.py
recursive-include tests                 \
    *.adr                               \
    *.asc                               \
    *.bin                               \
    *.css                               \
    *.doc                               \
    *.html                              \
    *.ico                               \
    *.ini                               \
    *.markdown                          \
    *.pdf                               \
    *.php                               \
    *.plist                             \
    *.py                                \
    *.result                            \
    *.sqlite                            \
    *.swf                               \
    *.txt                               \
    *.wml                               \
    *.xhtml                             \
    *.xml                               \
    *.zip                               \
    Bookmarks
recursive-include windows               \
    *.bat                               \
    *.cer                               \
    *.pfx                               \
    *.pvk
