name: Publish LinkChecker Documentation on GitHub Pages

on:
  push:
    branches: ["master"]
  release:
    types: [released]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v2
        # Needed for setuptools_scm to extract LinkChecker version from tag
        # https://github.com/actions/checkout/issues/249
        with:
          fetch-depth: 0

      - name: Install Ubuntu packages
        run: sudo apt install graphviz

      # Ensure sphinx-autogen is installed in PATH
      - name: Setup Python
        uses: actions/setup-python@v2

      - name: Install Python packages
        run: >
          pip install dnspython beautifulsoup4 requests \
                      sphinx sphinx_epytext sphinx_rtd_theme sphinx-sitemap

      - name: Build
        run: |
          python3 setup.py build egg_info
          make -C doc code
          make -C doc html

      - name: Publish
        uses: peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html
          commit_message: ${{ github.event.head_commit.message }}
